<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://api-potatochunks.vercel.app/js/vant2.12.5/css/index.css" />
    <title>图书</title>
    <style>
        [v-cloak] {
            display: none
        }

        body{
            background-color: #fde4b7;
        }

        .title {
            padding-top: 5vh;
            font-size: 1.75em;
            text-align: center;
        }

        .book-list {
            padding: 20px;
        }

        .book-list .book-title {
            position: absolute;
            bottom: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 90%;
            text-align: center;
            color: white;
            background-color: #bfbfbf;
            font-size: 0.85em;
        }

        .book-con .home {
            position: fixed;
            bottom: 10vh;
            right: 5vw;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="book-search" v-show="!content.contentShow">
        <!-- 标题 -->
        <div class="title">
            <van-row>
                <van-col span="15" offset="5">图书搜索器</van-col>
            </van-row>
            <van-row>
                <!-- 搜索内容 -->
                <van-col span="15" offset="5">
                    <van-field v-model="search.name" center clearable placeholder="请输入内容">
                        <template #button>
                            <van-button size="small" type="primary" :loading='search.buttonDisable'
                                        @click='searchValue' loading-text="加载中...">搜索书籍</van-button>
                        </template>
                    </van-field>
                </van-col>
            </van-row>
        </div>
        <!-- 图书展示 -->
        <div class="book-list">
            <!-- 书籍展示 -->
            <van-row type='flex' gutter="20" justify="space-between">
                <van-col style='height:25vh;position: relative;cursor: pointer;' span='8'
                         v-for="(item,index) in search.data" :key='item.href' @click='clickBook(item)'>
                    <!-- 图片 -->
                    <van-image height='20vh' style='width: 100%;margin: 0 auto 0;' fit="contain"
                               :src="item.img">
                        <template v-slot:error>
                            <van-image src='https://www.xbiquge.la/modules/article/images/nocover.jpg'>
                            </van-image>
                        </template>
                    </van-image>
                    <!-- 书名 -->
                    <div class="book-title">{{item.title}}</div>
                </van-col>
            </van-row>
            <!-- 详细信息 -->
            <van-popup v-model="search.bookMesShow" position="bottom" round style='height: 50%; '>
                <van-card :title="'《' + search.bookMes.title + '》'" price="" currency=''
                          :thumb="search.bookMes.img" style='padding: 20px;'>
                    <template #tags>
                        {{search.bookMes.describe}}
                    </template>
                    <!-- 最新章节 -->
                    <template #price-top>
                        {{search.bookMes.update}}
                    </template>
                    <!-- 作者 -->
                    <template #bottom>
                        <br>
                        {{search.bookMes.author}}
                    </template>
                    <!-- 第一章和目录 -->
                    <template #footer>
                        <van-button size="small" @click='readBook'>开始阅读</van-button>
                        <van-button size="small" @click='catalogueBook'>目录</van-button>
                    </template>
                </van-card>
            </van-popup>
        </div>
    </div>
    <!-- 目录 -->
    <van-popup v-model='catalogue.catalogueShow' round position='bottom' @closed='contentsClosed'
               style='height: 40%;'>
        <van-list v-model='catalogue.loading' :finished='catalogue.finished' finished-text="没有更多了">
            <van-cell v-for="(item,index) in catalogue.contentsArr" :key="item.href" :title="item.title"
                      @click='clickContents(item,index)' />
        </van-list>
    </van-popup>
    <!-- 内容展示 -->
    <div class="book-con" style="padding: 50px;" v-show="content.contentShow">
        <div class="book-con-html" style="font-size: 1.75em;" v-html="content.html"></div>
        <div class="botton" style='padding: 20px 20px;'>
            <van-row type='flex' justify='center'>
                <van-col>
                    <van-button type="info" @click='upPage'>上一章</van-button>
                    <van-button type="info" @click='contentCatalogue'>目录</van-button>
                    <van-button type="info" @click='downPage'>下一章</van-button>
                </van-col>
            </van-row>
        </div>
        <div class="home">
            <van-button icon="plus" type="primary" @click='toHome' />
        </div>
    </div>
</div>
<script src="https://api-potatochunks.vercel.app/js/axios0.1.0/axios.js"></script>
<script src="https://api-potatochunks.vercel.app/js/vue@2/vue.js"></script>
<script src="https://api-potatochunks.vercel.app/js/vant2.12.5/js/index.js"></script>
<script>
    alert('正在升级中!!!')
    const app = new Vue({
        el: '#app',
        data() {
            return {
                // 搜索
                search: {
                    // 搜索地址
                    searchUrl: ['https://api-tawny-zeta.vercel.app/insect/book/biqu/'],
                    // 搜索内容
                    name: '',
                    //搜索框禁用状态
                    buttonDisable: false,
                    // 搜索结果
                    data: [],
                    //单个信息
                    bookMes: {
                        // title: '书名',
                        // img: 'https://www.xbiquge.la/modules/article/images/nocover.jpg',
                        // update:'最新章节',
                        // author:'作者',
                        // describe:'简介'
                    },
                    //单个信息展示状态
                    bookMesShow: false
                },
                // 目录
                catalogue: {
                    // 展示状态
                    catalogueShow: false,
                    contentsArr: [
                        // {title:'标题'},
                        // {title:'123'}
                    ],
                    // 加载状态 true为一直加载
                    loading: false,
                    // 是否加载完毕
                    finished: false
                },
                // 内容
                content: {
                    // 显示状态
                    contentShow: false,
                    html: '正在加载...',
                    contentArr: [],
                    contentIndex: 0,
                    booksMsg: {}
                },
                // 缓存信息
                localStorage: null,
                // 定时器
                bookTime: null
            }
        },
        methods: {
            searchValue() {
                //搜索
                //内容是否为空
                if (!this.search.name.trim()) {
                    vant.Toast.fail('请输入内容');
                    this.search.name = '';
                    return
                }
                //按钮禁用
                this.search.buttonDisable = true;
                this.searchBiQuGe({
                    name: this.search.name,
                    page: 1
                }).then(d => {
                    this.search.data = d;
                    //解除禁用
                    this.search.buttonDisable = false;
                })
            },
            //点击一本书
            clickBook(item) {
                this.search.bookMesShow = true
                this.search.bookMes = item
            },
            // 点击开始阅读
            async readBook() {
                window.scrollTo(0, 0)
                this.content.contentShow = true
                this.content.html = '正在加载.....'
                // 缓存中是否存在
                this.getLocalStorageCon()
                if (this.localStorage) {
                    this.localStorage.forEach(i => {
                        if (i.bookMsg.url === this.search.bookMes.url && i.index) {
                            this.catalogue.contentsArr = i.bookContent
                            this.content.html = i.msg[i.index]
                        }
                    })
                }
                // 获取目录
                let d = await this.getCons()
                if (!d) return this.content.contentShow = false
                this.catalogue.contentsArr = d
                // 获取当前读的下标
                let index = 0
                // 如果有缓存读取缓存的下标
                if (this.localStorage) {
                    this.localStorage.forEach(i => {
                        if (i.bookMsg.url === this.search.bookMes.url && i.index) {
                            index = i.index
                        }
                    })
                }
                // 获取第一章
                this.clickContents(this.catalogue.contentsArr[index], index)
            },
            // 获取目录
            async getCons() {
                let data;
                try {
                    data = await axios.post(this.search.searchUrl[0] + 'list/', {
                        url: this.search.bookMes.url
                    })
                } catch (e) {
                    //TODO handle the exception
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    return null
                }
                data = data.data
                if (data.code) {
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    return null
                }
                if (this.localStorage) {
                    this.localStorage.forEach(d => {
                        if (d.bookMsg.url === this.search.bookMes.url) {
                            d.bookContent = data.data
                        }
                    })
                    this.setContentLocal()
                }
                return data.data
            },
            //点击目录
            async catalogueBook() {
                this.catalogue.contentsArr = []
                // console.log(this.search.bookMes);
                // 修改状态
                // this.search.bookMesShow = false;
                // 显示目录
                this.catalogue.catalogueShow = true;
                this.catalogue.finished = false;
                // 加载
                this.catalogue.loading = true
                if (localStorage.books) {
                    this.contentCatalogue()
                }
                let data;
                try {
                    data = await axios.post(this.search.searchUrl[0] + 'list/', {
                        url: this.search.bookMes.url
                    })
                } catch (e) {
                    //TODO handle the exception
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    this.catalogue.loading = false
                    this.catalogue.finished = true
                    return
                }
                data = data.data
                if (data.code) {
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    this.catalogue.loading = false
                    this.catalogue.finished = true
                    return
                }
                this.catalogue.contentsArr = data.data
                // 加载完成
                this.catalogue.loading = false
                this.catalogue.finished = true
            },
            // 内容中点击目录
            contentCatalogue() {
                this.catalogue.contentsArr = []
                this.catalogue.catalogueShow = true
                if (!localStorage.books) {
                    this.catalogueBook()
                    return
                }
                // 获取缓存中的书籍
                let books = JSON.parse(localStorage.books);
                // 循环判断当前的书是否是缓存中存在的
                let booksBoolean = false
                books.forEach(item => {
                    if (item.bookMsg.url === this.search.bookMes.url) {
                        books = item.bookContent
                        booksBoolean = true
                        return
                    }
                })
                // 判断是否有
                if (booksBoolean) {
                    this.catalogue.contentsArr = books
                }
            },
            // 点击内容中的上一章
            upPage() {
                this.content.html = '加载中...'
                window.scrollTo(0, 0)
                if (this.content.booksMsg.index === 0) {
                    vant.Toast.fail("已经是第一章")
                    return
                }
                // 缓存中有没有内容
                this.localStorage.forEach(book => {
                    if ((book.bookMsg.url === this.search.bookMes.url) && book.msg[this.content.booksMsg
                        .index - 1]) {
                        this.content.html = book.msg[this.content.booksMsg.index + 1]
                    }
                })
                this.getBookCon(this.catalogue.contentsArr[--this.content.booksMsg.index]).then(d => {
                    if (d) {
                        document.title = this.catalogue.contentsArr[this.content.booksMsg.index].title
                        this.content.html = d
                        this.localStorage.forEach(inde => {
                            if (inde.bookMsg.url === this.search.bookMes.url) {
                                inde.index = this.content.booksMsg.index
                                inde.msg[inde.index] = d
                            }
                        })
                    }
                })
            },
            // 点击内容中的下一章
            downPage() {
                this.content.html = '这本书的内容加载中...................................................'
                window.scrollTo(0, 0)
                if (this.content.booksMsg.index - 1 === this.catalogue.contentsArr.length) {
                    vant.Toast.fail("已经是最后一章")
                    return
                }
                // 缓存中有没有内容
                this.localStorage.forEach(book => {
                    if ((book.bookMsg.url === this.search.bookMes.url) && book.msg[this.content.booksMsg
                        .index + 1]) {
                        this.content.html = book.msg[this.content.booksMsg.index + 1]
                    }
                })
                this.getBookCon(this.catalogue.contentsArr[++this.content.booksMsg.index]).then(d => {
                    if (d) {
                        document.title = this.catalogue.contentsArr[this.content.booksMsg.index].title
                        this.content.html = d
                        this.localStorage.forEach(inde => {
                            if (inde.bookMsg.url === this.search.bookMes.url) {
                                inde.index = this.content.booksMsg.index
                                inde.msg[inde.index] = d
                            }
                        })
                    }
                })
            },
            // 书的内容设置到localStorage中
            setContentLocal() {
                if (this.localStorage) {
                    localStorage.setItem('books', JSON.stringify(this.localStorage))
                }
            },
            // 从缓存中获取书的信息
            getLocalStorageCon() {
                if (!localStorage.books) {
                    return
                }
                // 转换成对象可能报错
                try {
                    this.localStorage = JSON.parse(localStorage.books)
                } catch (e) {
                    //TODO handle the exception
                    localStorage.removeItem('books')
                    return
                }
            },
            // 关闭目录
            contentsClosed() {
                // this.catalogue.contentsArr = []
            },
            // 点击目录里的列表
            async clickContents(item, index) {
                this.content.html = '正在加载......'
                // 将当前书存储到浏览器中
                if (!localStorage.books) {
                    localStorage.setItem('books', JSON.stringify([]))
                }
                let booksObj = {
                    bookMsg: this.search.bookMes,
                    bookContent: this.catalogue.contentsArr,
                    // 第几章
                    index: index,
                    msg: []
                }
                this.content.booksMsg = booksObj
                let arr = JSON.parse(localStorage.books);
                let bookBoo = false;
                // 判断是否有相同的书
                arr.forEach(i => {
                    if (i.bookMsg.url === booksObj.bookMsg.url) {
                        bookBoo = true
                        i.index = index
                    }
                })
                // 有一样的不进行添加
                if (!bookBoo) {
                    arr.push(booksObj)
                }
                // 存储
                localStorage.setItem('books', JSON.stringify(arr))
                this.content.contentIndex = index
                // 修改状态
                this.catalogue.catalogueShow = false
                this.search.bookMesShow = false
                this.content.contentShow = true
                // console.log(item);
                document.title = item.title
                this.getLocalStorageCon()
                // 如果缓存中存在读取缓存中的内容
                this.localStorage.forEach(dd => {
                    if ((dd.bookMsg.url === this.search.bookMes.url) && dd.msg[index]) {
                        this.content.html = dd.msg[index]
                    }
                })
                this.getBookCon(item).then(d => {
                    this.content.html = d
                    this.localStorage.forEach(inde => {
                        if (inde.bookMsg.url === this.search.bookMes.url) {
                            inde.index = this.content.booksMsg.index
                            inde.msg[inde.index] = d
                        }
                    })
                })
            },
            // 请求内容
            async getBookCon(item) {
                let data;
                try {
                    data = await axios.post(this.search.searchUrl[0] + 'content/', {
                        url: item.href
                    })
                } catch (e) {
                    //TODO handle the exception
                    vant.Toast.fail("请检查网络连接")
                    return null
                }
                data = data.data
                if (data.code) {
                    vant.Toast.fail("请检查网络连接")
                    return null
                }
                this.setContentLocal()
                return data.data
            },
            // 点击主页
            toHome() {
                this.content.contentShow = false
                this.search.data = []
                if (localStorage.books) {
                    let data = JSON.parse(localStorage.books)
                    data.forEach(item => {
                        this.search.data.push(item.bookMsg)
                    })
                }
                this.content.booksMsg.index = 0
                this.search.name = ''
                this.content.html = '正在加载...'
                document.title = '图书'
            },
            // 笔趣阁
            async searchBiQuGe(option) {
                let data;
                try {
                    data = await axios.post(this.search.searchUrl[0] + 'search/',
                        option)
                } catch (e) {
                    //TODO handle the exception
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    return [];
                }
                data = data.data;
                if (data.code) {
                    vant.Toast.fail("服务器繁忙请稍后访问")
                    return [];
                }
                if (!data.data.length) {
                    vant.Toast.fail('目前没有你想要的');
                    return [];
                }
                return data.data;
            }
        },
        mounted() {
            this.getLocalStorageCon()
            this.toHome()
            this.bookTime = setInterval(_ => {
                if (this.search.bookMes.url && this.localStorage && this.content.booksMsg.index && this.catalogue.contentsArr[this.content.contentIndex]) {
                    this.getBookCon(this.catalogue.contentsArr[this.content.contentIndex++]).then(
                        content => {
                            this.localStorage.forEach(inde => {
                                if (inde.bookMsg.url === this.search.bookMes.url) {
                                    inde.msg[this.content.contentIndex-1] = content
                                }
                            })
                        })
                    // console.log(this.catalogue.contentsArr[this.content.contentIndex].href, this.content.contentIndex)
                }
            }, 90000)
        }
    })
</script>
</body>
</html>
